<%- include('../partials/html-head.ejs') %>
  <title>Car Index</title>
</head>
<body>
  <h1>All Imported Cars</h1>
  <ul>
    <% cars.forEach(car => { %>
     <li><a href="/cars/<%=car._id%>"><%= car.year %> <%= car.make %> <%= car.model %></a></li>
    <% }) %>
  </ul>
  
  <form action="/cars/new">
    <button type="submit">Add New Cars?</button>
  </form>
</body>
</html>