<%- include('../partials/html-head.ejs') %>
  <title><%= car.year %> <%= car.make %> <%= car.model %></title>
  </head>

  <body class="show-page">
    <h1>
      <%= car.year %>
        <%= car.make %>
          <%= car.model %>
    </h1>
    <div class="car-details">
      <p><strong>Car Details:</strong></p>
      <ul>
        <li><span class="show-car-details">Car Color:</span> <%= car.color %>
        </li>
        <% if (car.isAbleToStart) { %>
          <li><span class="show-car-details">Does the engine start?</span> Yes</li>
          <% } else {%>
            <li><span class="show-car-details">Does the engine start?</span> No</li>
            <% } %>
      </ul>
    </div>
    
    <div class="delete-car-div">
      <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
        <button id="delete-car-button" type="submit">Remove This Car</button>
      </form>
    </div>

    <div class="edit-car-div">
      <a href="/cars/<%= car._id %>/edit">Edit Car Details</a>
    </div>



    <a href="/cars">Back to Garage</a>
  </body>

  </html>